li .glyphicon {
    margin-right: 10px;
}


/* Highlighting rules for nav menu items */

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

.main-nav {
    background-color: #193370;
    color: white;
    padding-left: 15px;
}

.main-nav h1.page-title {
    font-size: 75px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 35px;
}

.links-container {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
}

.links-container a:not(:first-child) {
    margin-left: 25px;
}

.links-container a {
    color: white;
}

.auth-content {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: right;
}

.logged-in-as {
    margin-top: 15px;
}

.auth-content button {
    margin-left: 15px;
}
