<div class="main-nav" fxLayout="row wrap" fxLayoutAlign="space-between">
  <div class="title-and-links">
    <h1 class="page-title">Guild Tools</h1>
    <div class="links-container" fxLayout="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.xs="center center">
      <div class="link-element" id="link-alt-tracker" #linkAltTracker [ngClass]="getNavButtonClass(linkAltTracker)" (click)="navigateToAltTracker()">Alt Tracker</div>
      <div class="link-element" id="link-stats" #linkStats [ngClass]="getNavButtonClass(linkStats)" (click)="navigateToStats()">Stats</div>
    </div>
  </div>
  <div class="auth-content" fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.xs="start stretch">
    <div *ngIf="!auth.isAuthenticated">
      <div fxLayout="row" fxLayoutAlign.gt-xs="end" fxLayoutAlign.xs="center">
        <button
          id="btnLogin"
          mat-flat-button
          color="primary"
          (click)="navigateToLogin()"
          type="button"
        >
          Log In
        </button>

        <button
          id="btnRegister"
          mat-flat-button
          color="primary"
          (click)="navigateToRegister()"
          type="button"
        >
          Register
        </button>
      </div>
    </div>
    <div *ngIf="auth.isAuthenticated">
      <div fxLayout="row" fxLayoutAlign.gt-xs="end" fxLayoutAlign.xs="center">
        <button
          id="btnLogout"
          mat-flat-button
          color="primary"
          (click)="logout()"
          type="button"
        >
          Log Out
        </button>

        <button
          id="btnUserAccount"
          mat-flat-button
          color="primary"
          (click)="navigateToUserSettings()"
          type="button"
        >
          User Settings
        </button>
      </div>
      <div class="logged-in-as" fxLayout="row" fxLayoutAlign.gt-xs="end" fxLayoutAlign.xs="center">
        Logged in as: {{ auth.username }}
      </div>
    </div>
  </div>
</div>
