
<div *ngIf="pageLoading()" style="text-align: center; font-size:25px;">
  Loading...
</div>

<div *ngIf="guildNotFound()" style="text-align: center; font-size:25px;">
  This guild could not be found.
</div>

<div *ngIf="dataNotReady()" style="text-align: center; font-size:25px;">
  The data for this guild is being processed. Check back soon!
</div>

<div *ngIf="pageReady()">

  <div class="guild-header">
    <div style="text-align: center; font-size: 36px; font-weight:bold;">
    <a [href]="getGuildArmoryLink(realm, guild)">{{prettyGuild}}</a></div>
    <div style="text-align: center; font-size: 24px;">@ {{prettyRealm}} ({{region}})</div>

    <div style="text-align: center; font-size:10pt; margin-top:15px"><a [routerLink]="['/guildstats']">Back to Search</a></div>
  </div>

  <div class="stats-container" style="margin-top: 15px;">
    <div *ngFor="let statsTable of statsTables">
      <table class="statsTable">
        <tr><td class="statsTableHeader" colspan="2">{{statsTable.Title}}</td></tr>
        <tr [ngClass]="mapClassToColor(member.Class) + ' data-row'" *ngFor="let member of statsTable.SortedMembers()">
          <td><a [href]="getPlayerArmoryLink(member)">{{member.Name}}</a></td>
          <td class="value-column">{{statsTable.NameDisplayer(member)}}</td>
        </tr>
        <tr>
          <td class="statsTableShowMore" colspan="2"><a (click)="statsTable.ShowMore(10)">Show More</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
