<div class="statsTableContainer">
    <div fxLayout="row" class="statsTableHeader" fxLayoutAlign="center">
        {{ title }}
    </div>

  <table class="stats-table-inner-table">
    <tr [ngClass]="mapClassToColor(player) + ' data-row'" *ngFor="let player of getDisplayedPlayers">
      <td class="player-name"><a [href]="getPlayerArmoryLink(player)">{{ player.name }}</a></td>
      <td class="player-guild" *ngIf="showGuild"><a [href]="getGuildArmoryLink(player)">{{ player.guildName }}</a></td>
      <td class="player-value">{{ getValue(player) }}</td>
    </tr>
  </table>

  <div fxLayout="row" class="show-more-less" fxLayoutAlign="start">
    <a *ngIf="canShowLess" (click)="showLess()" class="show-less">Less</a>
    <a *ngIf="canShowMore" (click)="showMore()" class="show-more">More</a>
  </div>
</div>
