
<div class="container" fxLayout="column" fxLayoutGap="10px">
  <h2>
    Manage Permissions
  </h2>
  <a class="go-back" (click)="navigateToProfile()">Back to Profile</a>
  <mat-divider></mat-divider>

  <h3>Access Requests</h3>

  <div *ngIf="pendingAccessRequests.length === 0" class="no-access-requests">
    There are no pending accessing requests.
  </div>
  <mat-table *ngIf="pendingAccessRequests.length > 0" [dataSource]="accessRequestsTableDataSource" class="access-requests-table standard-table">
      <ng-container matColumnDef="name">
          <mat-header-cell class="request-col-header-name" mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
          <mat-cell class="request-col-cell-name"  mat-cell *matCellDef="let request">
              {{ request.user.username }}
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
          <mat-header-cell class="request-col-header-email" mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell class="request-col-cell-email" mat-cell *matCellDef="let request">
             {{ request.user.email }}
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdOn">
          <mat-header-cell class="request-col-header-createdon" mat-header-cell *matHeaderCellDef> Requested Date </mat-header-cell>
          <mat-cell class="request-col-cell-createdon" mat-cell *matCellDef="let request">
             {{ getFormattedDate(request.createdOn) }}
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="approve">
          <mat-header-cell class="request-col-header-approve" mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell class="request-col-header-approve" mat-cell *matCellDef="let request">
            <a class='show-hide-column hidden' (click)="approveRequest(request)">Approve</a>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="accessRequestsPermissionsColumns"></mat-header-row>
      <mat-row *matRowDef="let request; columns: accessRequestsPermissionsColumns;" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)"></mat-row>
  </mat-table>

  <h3>Permissions:</h3>

  <mat-table [dataSource]="profilePermissionsTableDataSource" class="permissions-table standard-table">
      <ng-container matColumnDef="name">
          <mat-header-cell class="permissions-header-name" mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell class="permissions-cell-name"  mat-cell *matCellDef="let permission">
              {{ getUserDescription(permission.permission) }}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="permission">
          <mat-header-cell class="permissions-header-level" mat-header-cell *matHeaderCellDef> Permission </mat-header-cell>
          <mat-cell class="permissions-cell-level" mat-cell *matCellDef="let permission">
              <mat-select [(value)]="permission.permission.permissionLevel">
                <mat-option *ngFor="let option of availablePermissions" [value]="option.level">
                  {{option.label}}
                </mat-option>
              </mat-select>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove">
          <mat-header-cell class="permissions-header-remove" mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
          <mat-cell class="permissions-cell-remove" mat-cell *matCellDef="let permission">
            <mat-checkbox [checked]="permission.markForDelete" (change)="changeMarkForDelete($event, permission)"></mat-checkbox>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="profilePermissionsColumns"></mat-header-row>
      <mat-row *matRowDef="let permission; columns: profilePermissionsColumns;"></mat-row>
  </mat-table>

  <div fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button class="btn-save-permissions" (click)="savePermissions()">Save Permissions</button>
  </div>


</div>
