<div class="container">
  <div class="inner-container" fxLayout="column" fxLayoutAlign="start start" fxFill>
    <h2>
      Manage Permissions
    </h2>
    <a class="go-back" (click)="navigateToProfile()">Back to Profile</a>
    <mat-divider fxFill></mat-divider>

    <h3>Access Requests</h3>

    <div *ngIf="pendingAccessRequests.length === 0" class="no-access-requests no-items">
      There are no pending accessing requests.
    </div>

    <table class="access-requests-table standard-table" *ngIf="pendingAccessRequests.length > 0">
      <colgroup>
        <col class="request-col-header-name"/>
        <col class="request-col-header-email"/>
        <col class="request-col-header-createdon"/>
        <col class="request-col-header-approve"/>
      </colgroup>
      <thead>
        <th>
          Username
        </th>
        <th>
          Email
        </th>
        <th>
          Requested Date
        </th>
        <th>
          Approval
        </th>
      </thead>
      <tr *ngFor="let request of pendingAccessRequests">
        <td data-label="Username" class="request-col-cell-name">{{ request.user.username }}</td>
        <td data-label="Email" class="request-col-cell-email"> {{ request.user.email }}</td>
        <td data-label="Requested Data" class="request-col-cell-createdon">{{ getFormattedDate(request.createdOn) }}</td>
        <td class="request-col-header-approve">
            <a class='show-hide-column' (click)="approveRequest(request)">Approve</a>
        </td>
      </tr>
    </table>

    <h3>Permissions:</h3>

    <table class="access-requests-table standard-table" *ngIf="profilePermissionsByUser.length > 0">
        <colgroup>
          <col class="permissions-col-name"/>
          <col class="permissions-col-level"/>
          <col class="permissions-col-remove"/>
        </colgroup>
        <thead>
          <th>
            User
          </th>
          <th>
            Permission
          </th>
          <th class="permission-th-remove">
            Remove
          </th>
        </thead>
        <tr *ngFor="let permission of profilePermissionsByUser">
          <td data-label="User" class="permissions-cell-name">
            {{ getUserDescription(permission.permission) }}
          </td>
          <td data-label="Permission" class="permissions-cell-level">
            <mat-select [(value)]="permission.permission.permissionLevel">
              <mat-option *ngFor="let option of availablePermissions" [value]="option.level">
                {{option.label}}
              </mat-option>
            </mat-select>
          </td>
          <td data-label="Remove" class="permissions-cell-remove">
            <div fxLayout="row" fxLayoutAlign="center">
              <mat-checkbox [checked]="permission.markForDelete" (change)="changeMarkForDelete($event, permission)"></mat-checkbox>
            </div>
          </td>
        </tr>
      </table>

    <div fxLayout="row" fxLayoutAlign="end" fxFill>
      <button mat-raised-button class="btn-save-permissions" (click)="savePermissions()">Save Permissions</button>
    </div>

    <h3>Friend Guilds:</h3>

    <div *ngIf="friendGuilds.length === 0" class="no-items">
      You have no friend guilds configured.
    </div>
    <div *ngIf="friendGuilds.length > 0" fxFill>
      <table class="friend-guilds standard-table">
        <colgroup>
          <col class="friend-guild-name"/>
          <col class="friend-guild-realm"/>
          <col class="friend-guild-abbrev"/>
          <col class="friend-guild-delete"/>
        </colgroup>
        <thead>
          <th>
            Guild
          </th>
          <th>
            Realm
          </th>
          <th>
            Abbreviation
          </th>
          <th>
            Delete
          </th>
        </thead>
        <tr *ngFor="let friendGuild of friendGuilds" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
          <td>{{ friendGuild.guild.name }}</td>
          <td>{{ getFormattedRealm(friendGuild.guild) }}</td>
          <td>{{ friendGuild.guild.abbreviation }}</td>
          <td><a class="hidden show-hide-column" (click)="deleteFriendGuild(friendGuild)">Delete</a></td>
        </tr>
      </table>
    </div>

    <div fxLayout="row" fxLayoutAlign="end" fxFill>
      <button mat-raised-button class="btn-add-friend-guild" (click)="addFriendGuild()">Add Friend Guild</button>
    </div>
  </div>
</div>
