$warrior: rgb(204, 179, 152);
$druid: rgb(253, 201, 152);
$rogue: rgb(250, 245, 177);
$paladin: rgb(255, 234, 250);
$mage: rgb(181, 227, 250);
$warlock: rgb(173, 161, 196);
$priest: rgb(255, 255, 255);
$monk: rgb(180, 245, 220);
$dk: rgb(223, 163, 167);
$dh: rgb(199, 164, 196);
$hunter: rgb(157, 182, 155);
$shaman: rgb(170, 188, 228);

$light-background: rgb(247, 242, 242);
$dark-background: rgb(90, 20, 20);
$row-alternate-even: rgb(240, 231, 231);
$row-alternate-odd: rgb(250, 250, 250);
$border-color: rgb(189, 155, 155);
$link-color: rgb(155, 71, 71);

$first-nav-color: rgb(71, 15, 15);
$second-nav-color: rgb(116, 23, 23);
