$warrior: rgb(204, 179, 152);
$druid: rgb(253, 201, 152);
$rogue: rgb(250, 245, 177);
$paladin: rgb(255, 234, 250);
$mage: rgb(181, 227, 250);
$warlock: rgb(173, 161, 196);
$priest: rgb(255, 255, 255);
$monk: rgb(180, 245, 220);
$dk: rgb(223, 163, 167);
$dh: rgb(199, 164, 196);
$hunter: rgb(157, 182, 155);
$shaman: rgb(170, 188, 228);