<mat-nav-list>
  <a mat-list-item (click)="promoteToMain($event)">
    <span mat-line>Promote to Main</span>
  </a>

  <a mat-list-item (click)="remove($event)">
    <span mat-line>Delete</span>
  </a>

  <a  mat-list-item (click)="viewBlizzardProfile($event)">
    <span mat-line>View Blizzard Profile</span>
  </a>

  <a mat-list-item (click)="viewRaiderIo($event)">
    <span mat-line>View Raider.IO</span>
  </a>

  <a mat-list-item (click)="viewWowProgress($event)">
    <span mat-line>View WoW Progress</span>
  </a>
</mat-nav-list>
