<div class="container">
  <div *ngIf="pageLoading()" style="text-align: center; font-size:25px;">
    Loading...
  </div>

  <div *ngIf="profileNotFound()" style="text-align: center; font-size:25px;">
    This guild could not be found.
  </div>

  <div *ngIf="dataNotReady()" style="text-align: center">
    <table class="processing-items standard-table">
      <colgroup>
        <col class="processing-guild-name"/>
        <col class="processing-percent-complete"/>
        <col class="processing-position-in-line"/>
      </colgroup>
      <thead>
        <th>
          Guild Name
        </th>
        <th>
          % Complete
        </th>
        <th>
          Position in Line
        </th>
      </thead>
      <tr *ngFor="let processingItem of individualStatsResponses">
        <td data-label="Guild Name">{{ getGuildName(processingItem) }}</td>
        <td data-label="% Complete">{{ getPercentComplete(processingItem) }}</td>
        <td data-label="Position in Line">{{ getPositionInLine(processingItem) }}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="pageReady()">

    <div class="guild-header">
      <div>
        <h2>Raider.IO Profile Stats: {{ profile.profileName }}</h2>
      </div>
      <div style="text-align: center; font-size:10pt; margin-top:15px"><a [routerLink]="['/guildstats']">Back to Search</a></div>
    </div>

    <div class="stats-container" style="margin-top: 15px;">
      <div *ngFor="let tableDefinition of tableDefinitions" class="stats-table-container">
        <app-stats-table [players]="getStatsTablePlayers" [tableDefinition]="tableDefinition" [showGuild]="true"></app-stats-table>
      </div>
    </div>
  </div>
</div>
