<meta name="viewport" content="width=device-width, initial-scale=1">

<div busyDirective class='busy-cover'>
  <div class="spinner-holder" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner color="#FFFFFF"></mat-spinner>
  </div>
</div>


<div class='app-body' fxLayout="column" fxLayoutAlign="start">
  <div id="content-wrap">
    <div>
        <app-nav-menu></app-nav-menu>
    </div>

    <div>
        <div class='body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>
  <div class="footer" fxLayout="row" fxLayoutAlign="center">
    <app-footer-component></app-footer-component>
  </div>
</div>
