a:hover {
  cursor: pointer;
}

.player-main-content {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.alts-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: extra-bold;
  font-size: 20px !important;
}

.alts-table {
  border-style: dotted;
  border-collapse: separate;
  border-color: #7a81aa;
  border-width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
    perspective: 1px;
}

.alts-table td {
  padding: 3px 6px;
}

.player-name-col {
  width: 250px;
}

.player-desc-col {
  width: 250px;
}

.player-actions-col a {
  color: black;
}

.player-actions-col a:hover {
  color: black;
}

.no-alts {
  text-align: center;
}
