a:hover {
  cursor: pointer;
}

.delete-main-container {
  height: 20px;
}

.player-main-content {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.group-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: extra-bold;
  font-size: 20px !important;
}

.alts-table {
  border-style: solid;
  border-collapse: separate;
  border-color: #d1d1d1;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
    perspective: 1px;
}

.alts-table td {
  padding: 3px 6px;
}

.player-name-col {
  width: 150px;
}

.player-desc-col {
  text-align: right;
}

.player-actions-col {
  width: 120px;
}

.player-actions-col a {
  color: black;
}

.player-actions-col a:hover {
  color: black;
}

.no-alts {
  text-align: center;
}

.notes-container {
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.alts-table td {
  font-size: 0.9em;
}

.alts-table tr .player-actions-items {
  display: none !important;
}

.alts-table tr:hover .player-actions-items {
  display: flex !important;
}

@media only screen and (min-width: 600px)
{
  .alts-table {
    margin-left: 10px;
    margin-right: 10px;
  }
}
