
<div class="container">
  <div *ngIf="pageLoading()" style="text-align: center; font-size:25px;">
    Loading...
  </div>

  <div *ngIf="guildNotFound()" style="text-align: center; font-size:25px;">
    This guild could not be found.
  </div>

  <div *ngIf="dataNotReady()" style="text-align: center">
    <div class="data-processing">
      <div *ngIf="inLine">
        This guild is currently #{{placeInLine}} in line for processing.
      </div>
      <div *ngIf="!inLine">
        The data for this guild is being processed, and is currently {{ getCompletionPercentage(completionProgress) }}% complete!
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 25px" fxLayoutGap="15px">
      <div class="notification-request-text">
        This operation must communicate with <a href="https://www.raider.io">Raider.IO</a> servers and can take a long time. If you'd like to be notified when the stats generation
        is complete, we can send an email to you:
      </div>

      <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="25px">
        <mat-form-field id="notification-address">
            <input matInput type="text" placeholder="Email:" [(ngModel)]="notificationEmailAddress">
        </mat-form-field>
        <button mat-raised-button [disabled]="emailDisabled" (click)="requestNotification()" id="btn-request-notification">Request Notification</button>
      </div>
    </div>
  </div>

  <div *ngIf="pageReady()">

    <div class="guild-header">
      <div style="text-align: center; font-size: 36px; font-weight:bold;">
      <a [href]="getGuildArmoryLink(realm, guild)">{{prettyGuild}}</a></div>
      <div style="text-align: center; font-size: 24px;">@ {{prettyRealm}} ({{region}})</div>

      <div style="text-align: center; font-size:10pt; margin-top:15px"><a [routerLink]="['/guildstats']">Back to Search</a></div>
    </div>

    <div class="stats-container" style="margin-top: 15px;">
        <div *ngFor="let tableDefinition of tableDefinitions" class="stats-table-container">
            <app-stats-table [players]="getStatsTablePlayers" [tableDefinition]="tableDefinition" [showGuild]="false"></app-stats-table>
        </div>
      </div>
  </div>
</div>
