
.stats-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.stats-table-container {
  width: 250px;
  margin-bottom: 40px;
}

.guild-header {
  font-family: Verdana, Helvetica, Arial, sans-serif
}

.guild-header a {
  color: inherit;
}

.data-processing {
  font-size: 25px;
}

.notification-request-text {
  font-size: 16px;
}

#notification-address {
  width: 250px;
}

#btn-request-notification {
  height: 40px;
}
