/* You can add global styles to this file, and also import other style files */

@import './scss/variables.scss';
@import './scss/themes/guildtools-theme.scss';

.loginRegisterBlock {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.background-warrior {
    background-color: $warrior;
}

.background-druid {
    background-color: $druid;
}

.background-rogue {
    background-color: $rogue;
}

.background-paladin {
    background-color: $paladin;
}

.background-mage {
    background-color: $mage;
}

.background-warlock {
    background-color: $warlock;
}

.background-priest {
    background-color: $priest;
}

.background-monk {
    background-color: $monk;
}

.background-dk {
    background-color: $dk;
}

.background-dh {
    background-color: $dh;
}

.background-hunter {
    background-color: $hunter;
}

.background-shaman {
    background-color: $shaman;
}

html,
body {
    height: 100%;
    font-size: 1em;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:link, a:visited {
  color: $link-color;
  text-decoration: underline;
}

a, a:link:active, a:visited:active {
  color: $link-color;
}

h1, h2, h3, h4 {
  color: rgb(49, 0, 0);
}

h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.6em;
  font-weight: bold !important;
}

a:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.standard-mat-table .mat-header-cell {
  color: white !important;
}

mat-table.standard-mat-table .mat-header-row {
  background-color: rgb(165, 38, 38) !important;
}

.mat-table.standard-mat-table {
  border: 1px solid $border-color;
}

mat-table.standard-mat-table mat-row:nth-child(even) {
  background: $row-alternate-even;
}

mat-table.standard-mat-table mat-row:nth-child(odd) {
  background: $row-alternate-odd;
}

.standard-table {
  border: solid 1px $border-color;
  border-collapse: collapse;
  width: 100%;
}

.standard-table tr:nth-child(even) {
  background: $row-alternate-even;
}

.standard-table tr:nth-child(odd) {
  background: $row-alternate-odd;
}

.standard-table th {
  background-color: rgb(44, 13, 10);
  color: white;
  font-weight: 500;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

@media only screen and (min-width: 600px)
{
  .container {
    max-width: 1000px;
    margin-top: 15px;
    width: 100%;
  }

  .standard-table tr {
    border: solid 1px rgb(226, 226, 226);
  }

  .standard-table th {
    font-size: 0.9em;
  }

  .standard-table th,
  .standard-table td {
    line-height: 3;
  }

  .standard-table th:nth-child(1),
  .standard-table td:nth-child(1) {
    padding-left: 2em;
  }

  .standard-table th
  .standard-table td {
    padding-left: 0.5em;
  }
}

@media only screen and (max-width: 600px)
{
  .container {
    width: calc(100%-2em);
    margin-top: 2em;
    margin-bottom: 5em;
  }

  .container {
    width: 100%;
  }

  .standard-table {
    display: block;
  }

  .standard-table thead {
    display: none;
  }

  .standard-table tr {
    border-bottom: 1px solid;
  }

  .standard-table td, .standard-table th {
    display: block !important;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0.3em;
  }

  .standard-table th {
    font-weight: 600;
    border-bottom: 2px solid;
    padding-top: 10px;
  }

  .standard-table td:before {
    width: 40%;
    display: inline-block;
    font-style: italic;
    content: attr(data-label);
  }
}

.no-items {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
