/* You can add global styles to this file, and also import other style files */

@import './scss/variables.scss';
.loginRegisterBlock {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.background-warrior {
    background-color: $warrior;
}

.background-druid {
    background-color: $druid;
}

.background-rogue {
    background-color: $rogue;
}

.background-paladin {
    background-color: $paladin;
}

.background-mage {
    background-color: $mage;
}

.background-warlock {
    background-color: $warlock;
}

.background-priest {
    background-color: $priest;
}

.background-monk {
    background-color: $monk;
}

.background-dk {
    background-color: $dk;
}

.background-dh {
    background-color: $dh;
}

.background-hunter {
    background-color: $hunter;
}

.background-shaman {
    background-color: $shaman;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}

h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: bold !important;
}

a:hover {
  cursor: pointer;
}

.standard-mat-table .mat-header-cell {
  color: white !important;
}

mat-table.standard-mat-table .mat-header-row {
  background-color: rgb(98, 98, 138) !important;
}

.mat-table.standard-mat-table {
  border: 1px rgb(218, 218, 218) solid;
}

.container {
  width: 1000px;
}

mat-table.standard-mat-table mat-row:nth-child(even) {
  background: rgb(225, 226, 238);
}

mat-table.standard-mat-table mat-row:nth-child(odd) {
  background: rgb(250, 250, 250);
}


.standard-table {
  border: solid 1px rgb(226, 226, 226);
  border-collapse: collapse;
}

.standard-table tr {
  border: solid 1px rgb(226, 226, 226);
}

.standard-table th {
  background-color: rgb(98, 98, 138);
  color: white;
  font-weight: 500;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 0.9em;
}

.standard-table tr:nth-child(even) {
  background: rgb(225, 226, 238);
}

.standard-table tr:nth-child(odd) {
  background: rgb(250, 250, 250);
}

.standard-table th,
.standard-table td {
  line-height: 3;
}

.standard-table th:nth-child(1),
.standard-table td:nth-child(1) {
  padding-left: 2em;
}

.standard-table th
.standard-table td {
  padding-left: 0.5em;
}

.no-items {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
