.must-be-logged-in {
    text-align: center;
    font-size: 25px;
}

.list-holder {
    background-color: hsl(0, 0%, 91%);
}

a:hover {
    cursor: pointer;
}

.profile-table mat-row:nth-child(even) {
    background: #CCC;
}

.profile-table mat-row:nth-child(odd) {
    background: #DDD;
}
