<div fxLayout="column" fxLayoutAlign="start center">
    <div *ngIf="!authService.isAuthenticated" class="must-be-logged-in">
        <div>You must be authenticated to view your profiles!</div>
        <div style="margin-top:10px;"><a (click)="navigateToLogin()">Log In</a></div>
    </div>

    <div *ngIf="authService.isAuthenticated" fxLayout="column">
        <div style="width:600px" height="400px" fxLayout="row" fxLayoutAlign="start center" class="list-holder">
            <div *ngIf="myGuildProfiles.length === 0">You have no guild profiles!</div>
            <div *ngIf="myGuildProfiles.length > 0" fxFlex>
                <mat-list *ngFor="let profile of myGuildProfiles">
                    <mat-list-item><a href="" (click)="navigateToProfile(profile.id)">{{ profile.profileName }} </a></mat-list-item>
                </mat-list>
            </div>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="end"><input style="width: 150px; margin-top: 25px" mat-raised-button type="button" (click)="addProfile()" value="Add New Profile" />
            <div></div>
        </div>
    </div>
