.must-be-logged-in {
    text-align: center;
    font-size: 25px;
}

.list-holder {
  width: 800px;
}

a:hover {
  cursor: pointer;
}

.profile-table {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 0px;
  border: 1px solid #CCC;
}

.profile-table mat-row:nth-child(even) {
  background: rgb(233, 233, 233);
}

.profile-table mat-row:nth-child(odd) {
  background: rgb(235, 235, 238);
}

.profilename-header-cell {
  flex: 0 0 300px;
}

.profilename-main-cell {
  flex: 0 0 300px;
}

.guild-header-cell {
  flex: 0 0 200px;
}

.guild-main-cell {
  flex: 0 0 200px;
}

.realm-header-cell {
  flex: 0 0 200px;
}

.realm-main-cell {
  flex: 0 0 200px;
}

.delete-header-cell {
  flex: 0 0 75px;
}

.delete-main-cell {
  flex: 0 0 75px;
}
