.must-be-logged-in {
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
  width: 700px;
}

.unauthenticated-title {
  font-size: 28px;
}

.unauthenticated-text {
  margin-top: 25px;
  font-size: 14px;
}

a:hover {
  cursor: pointer;
}

.col-profile-name {
  width: 30%;
}

.col-guild-name {
  width: 30%;
}

.col-realm-name {
  width: 30%;
}

.col-delete{
  width: 10%;
}

.profile-table {
  border: 1px solid #CCC;
}

@media only screen and (max-width: 600px)
{

}

@media only screen and (min-width: 600px)
{
  .profile-table {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .list-holder {
    width: 700px;
  }

  .profile-table-row .cell-delete a {
    display: none;
  }

  .profile-table-row:hover .cell-delete a {
    display: block;
  }
}
