
    <div class="container">
      <div fxLayout="column">
        <div fxLayout="column" fxLayoutAlign="start center" >
          <div *ngIf="!authService.isAuthenticated" class="must-be-logged-in">
              <div class='unauthenticated-title'>Welcome to the Alt Tracker!</div>
              <div class='unauthenticated-text'>You can use the Alt Tracker to group together a player's main and alternate characters! You can <a (click)="addProfile()">create a public profile</a> to
              experiment with the functionality, or <a (click)="navigateToLogin()">log in</a> to create a private profile, which allows you to
              control permissions and access.</div>
          </div>

      <div *ngIf="authService.isAuthenticated" fxLayout="column" class="list-holder">
          <h2>My Guild Profiles</h2>

          <div fxLayout="column" fxLayoutAlign="start stretch">
              <div *ngIf="myGuildProfiles.length === 0">You have no guild profiles!</div>
              <!--
              <div *ngIf="myGuildProfiles.length > 0" fxFlex>
                  <mat-list *ngFor="let profile of myGuildProfiles">
                      <mat-list-item><a href="" (click)="navigateToProfile(profile.id)">{{ profile.profileName }} </a></mat-list-item>
                  </mat-list>
              </div> -->

            <table class="standard-table profile-table" *ngIf="myGuildProfiles.length > 0">
                <colgroup>
                  <col class="col-profile-name"/>
                  <col class="col-guild-name"/>
                  <col class="col-realm-name"/>
                  <col class="col-delete"/>
                </colgroup>
                <thead>
                  <th scope="col">
                    Name
                  </th>
                  <th scope="col">
                    Guild
                  </th>
                  <th scope="col">
                    Realm
                  </th>
                  <th scope="col">
                    Delete
                  </th>
                </thead>
                <tr *ngFor="let profile of myGuildProfiles" class="profile-table-row">
                  <td data-label="Profile Name">
                    <a href="" (click)="navigateToProfile(profile.id)">{{ profile.profileName }} </a>
                  </td>
                  <td data-label="Guild">
                    <a [href]="getGuildUrl(profile.id)">{{profile.primaryGuildName}}  </a>
                  </td>
                  <td data-label="Realm Name">{{ profile.realmName }}</td>
                  <td class="cell-delete">
                    <a class='delete-profile-a' (click)="deleteProfile(profile)">Delete</a>
                  </td>
                </tr>
              </table>
          </div>

          <div fxFlex fxLayout="row" fxLayoutAlign="end">
            <button style="width: 150px; margin-top: 25px" mat-raised-button type="button" color="primary" (click)="addProfile()">Add New Profile</button>
          </div>
      </div>

  </div>
