<div class='launcher-container'>
  <div class="fields-container">
    <div class="field-group field-group-left">
      <h2>Guild</h2>
      <input class="form-control input-lg" type="text" #guild [value]="savedGuild"/>
    </div>
    <div class="field-group field-group-right">
      <h2>Realm</h2>
      <input class="form-control input-lg" type="text" #realm [value]="savedRealm"/>
    </div>
  </div>
  <div class="row button-container">
    <button class="btn btn-success btn-lg" style="width:200px" (click)="search(guild.value, realm.value)">Search</button>
  </div>

   <div *ngIf="guildNotFound" class="alert alert-danger guild-not-found"><span>Guild not found!</span></div>
</div>
