.header {
    padding-bottom: 15px;
    font-weight: bold;
    color: #555555;
}

@media only screen and (min-width: 600px)
{
  .new-guild-profile-container {
    width: 600px;
  }

  .form-contents {
    width: 400px;
  }
}

@media only screen and (max-width: 600px)
{
  .new-guild-profile-container {
  }

  .form-contents {
  }
}

#is-public-checkbox {
  margin-right: 25px;
}
