.header {
    padding-bottom: 15px;
    font-weight: bold;
    color: #555555;
}

.new-guild-profile-container {
    width: 600px;
}

.form-contents {
  width: 400px;
}

#is-public-checkbox {
  margin-right: 25px;
}
