
<div class='container' *ngIf="!emailSent">
  <h1>Reset Password</h1>

  <form (ngSubmit)="resetPassword()" #registrationForm="ngForm">
    <div class="form-group" style="margin-top: 25px">
      <label for="password">New Password:</label>
      <input type="password" autocomplete="off" class="form-control" id="password" required [(ngModel)]="model.Password" #email="ngModel" [ngModelOptions]="{standalone: true}">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Password is required.</div>

      <label for="verifyPassword" style="margin-top: 15px">Verify Password:</label>
      <input type="password" autocomplete="off" class="form-control" id="verifyPassword" required [(ngModel)]="model.VerifyPassword" #email="ngModel" [ngModelOptions]="{standalone: true}">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Password repeat is required.</div>
    </div>

    <div *ngIf="this.errors.length !== 0" class="alert alert-danger">
      <div *ngFor="let error of errors">{{error}}</div>
    </div>

    <button type="submit" class="btn btn-success">Change Password</button>
  </form>
</div>
