@import 'scss/variables.scss';

$dragover-background: rgb(93, 126, 93);
$dragover-text: white;

.container {
  margin-bottom: 50px;
}

h2 {
    font-weight: bold;
}

.content-container {
  width: 100%;
  max-width: 750px;
}

.main-container {
  width: 100%;
}

.operations-container {
  width: 100%;
}

.secondary-container {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px 10px;
  background: $light-background;
}

.drag-box {
  border-radius: 50px;
  width: 300px;
  text-align: center;
}

.no-mains-message {
  margin-top: 125px;
  text-align: center;
  color: #2a2961;
  font-size: 24px;
}

.mains-container {
  overflow-y: auto;
}

.player-main-panel mat-panel-description {
  user-select: none;
}

::ng-deep .player-main-panel:hover {
}

::ng-deep .player-main-panel:nth-child(odd) mat-expansion-panel-header {
  background: $row-alternate-odd;
}

::ng-deep .player-main-panel:nth-child(even) mat-expansion-panel-header {
  background: $row-alternate-even;
}

::ng-deep .player-main-panel:nth-child(odd) mat-expansion-panel-header:focus {
  background: $row-alternate-odd !important;
}

::ng-deep .player-main-panel:nth-child(even) mat-expansion-panel-header:focus {
  background: $row-alternate-even !important;
}

::ng-deep .player-main-panel:nth-child(odd) mat-expansion-panel-header:hover {
  background: $row-alternate-odd !important;
}

::ng-deep .player-main-panel:nth-child(even) mat-expansion-panel-header:hover {
  background: $row-alternate-even !important;
}

::ng-deep mat-expansion-panel.dragover-class > mat-expansion-panel-header {
  background-color: $dragover-background !important;
}

::ng-deep mat-expansion-panel.dragover-class .mat-expansion-panel-header-title {
  color: $dragover-text !important;
}

::ng-deep mat-expansion-panel.dragover-class .mat-expansion-panel-header-description {
  color: $dragover-text !important;
}

::ng-deep mat-expansion-panel.dragover-class .mat-expansion-indicator:after {
  color: $dragover-text !important;
}

.drag-box.dragover-class {
  background: $dragover-background;
  color: $dragover-text;
}

.player-table-container {
  overflow-y: auto;
  overflow-x: none;
}

.player-table {
    border: 1px solid #cfcfcf;
}

.player-table mat-header-row {
    height: 25px;
    min-height: 25px;
}

.player-table mat-row {}

.player-filter {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    max-width: 200px;
}

.player-row {
    height: 25px;
    min-height: 25px;
    padding-top: 2px;
}

.player-name-header {
    font-weight: bold;
    justify-content: flex-start;
    font-size: 12px !important;
    padding-left: 8px;
    flex: 0 0 80px;
}

.player-name-cell {
    justify-content: flex-start;
    padding-left: 10px !important;
    font-size: 11px;
    flex: 0 0 80px;
}

.guildname-header {
  font-weight: bold;
  justify-content: center;
  font-size: 12px !important;
  flex: 1 1 auto;
}

.guildname-cell {
  justify-content: center;
  flex: 1 1 auto;
  font-size: 11px;
}

.level-header {
  font-weight: bold;
  margin-left: auto;
  justify-content: flex-end;
  padding-right: 10px;
  flex: 0 0 60px;
}

.level-cell {
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 10px;
  flex: 0 0 60px;
  font-size: 11px;
}

.my-draggable {
}

@media only screen and (min-width: 600px)
{
  .secondary-container {
    height: 700px;
  }

  .main-list {
    width: 100%;
  }

  .mains-list-title {
    display: none;
  }

  .players-container {
    flex: 0 0 200px;
  }

  .players-container-title {
    display: none;
  }

  .player-main-panel mat-expansion-panel-header {
    font-size: 1em;
  }

  .player-main-panel mat-panel-title {
    width: 5em;
  }
}

@media only screen and (max-width: 600px)
{
  .drag-box {
    display: none;
  }

  .main-list {
    order: 2;
    height: 350px;
  }

  .players-container {
    order: 1;
  }

  .player-table {
    height: 250px;
  }

  .player-main-panel mat-expansion-panel-header {
    font-size: 0.9em;
  }

  .player-main-panel mat-panel-title {
    width: 8em;
  }
}
