@import 'scss/variables.scss';

$dragover-background: rgb(93, 126, 93);
$dragover-text: white;

.container {
  margin-bottom: 50px;
}

h2 {
    font-weight: bold;
}

.operations-container {
  width: 1000px;
}

.secondary-container {
    width: 1000px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px 10px;
    background: #f7f7f7;
    height: 800px;
}

.drag-box {
  border-radius: 50px;
  width: 300px;
  text-align: center;
}

.no-mains-message {
  margin-top: 125px;
  text-align: center;
  color: #2a2961;
  font-size: 24px;
}

.main-list {}

.player-main-panel mat-panel-title {
  width: 200px;
}

.mains-container {
  overflow-y: auto;
}

.player-main-panel mat-expansion-panel-header {

}

::ng-deep .player-main-panel:hover {
}


::ng-deep .player-main-panel:nth-child(odd) mat-expansion-panel-header {
  background: #d2d9ec;
}

::ng-deep .player-main-panel:nth-child(even) mat-expansion-panel-header {
  background: #e0e2e7;
}

::ng-deep .player-main-panel:nth-child(odd) mat-expansion-panel-header:focus {
  background: #d2d9ec !important;
}

::ng-deep .player-main-panel:nth-child(even) mat-expansion-panel-header:focus {
  background: #e0e2e7 !important;
}

::ng-deep .player-main-panel:nth-child(odd) mat-expansion-panel-header:hover {
  background: #d2d9ec !important;
}

::ng-deep .player-main-panel:nth-child(even) mat-expansion-panel-header:hover {
  background: #e0e2e7 !important;
}

::ng-deep mat-expansion-panel.dragover-class > mat-expansion-panel-header {
  background-color: $dragover-background !important;
}

::ng-deep mat-expansion-panel.dragover-class .mat-expansion-panel-header-title {
  color: $dragover-text !important;
}

::ng-deep mat-expansion-panel.dragover-class .mat-expansion-panel-header-description {
  color: $dragover-text !important;
}

::ng-deep mat-expansion-panel.dragover-class .mat-expansion-indicator:after {
  color: $dragover-text !important;
}

.drag-box.dragover-class {
  background: $dragover-background;
  color: $dragover-text;
}

.player-table-container {
  overflow-y: auto;
  overflow-x: none;
}

.player-table {
    border: 1px solid #cfcfcf;
}

.player-table mat-header-row {
    height: 25px;
    min-height: 25px;
}

.player-table mat-row {}

.player-filter {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.player-row {
    height: 25px;
    min-height: 25px;
    padding-top: 2px;
}

.player-name-header {
    font-weight: bold;
    justify-content: flex-start;
    font-size: 12px !important;
    padding-left: 8px;
}

.player-name-cell {
    justify-content: flex-start;
    padding-left: 10px !important;
    font-size: 11px;
}

.level-header {
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 10px;
    flex: 0 0 60px;
}

.level-cell {
    justify-content: flex-end;
    padding-right: 10px;
    flex: 0 0 60px;
    font-size: 11px;
}

.my-draggable {
}
